

img.backgroundpic {
  /* Set rules to fill background */
  /* min-height: 100%; */
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.backgroundpic {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.middlebox {
  top: 25%;
  left: 18%;
  position: relative;
  text-align: center;
  width: 343px;
  height: 217px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}


.contacttext {
  font-family: 'Didact Gothic', sans-serif;
  position: absolute;
  top: 15%;
  left: 15%;
  color: white;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}


.bigtext {
  bottom: 20px; 
  font-size: 38px;
}

.contacts {
  font-size: 20px;
}

.footerphone {
  color: white;
}

.footerphone:hover {
  color: white;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


*/
@media screen and (max-width: 1024px) {
  

}